In [1]:
import pickle
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',200)
from sklearn.metrics import classification_report,accuracy_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [2]:
with open('rf_model','rb') as file:
    rf = pickle.load(file)

In [3]:
test_data = pd.read_csv('Dataset/fraudTest.csv')
test_data.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [4]:
test_data.drop_duplicates(inplace = True)

In [5]:
test_data.shape

(555719, 23)

In [6]:
new_test_data = test_data[['gender','category','amt', 'lat', 'long','city_pop', 'unix_time', 'merch_lat', 'merch_long','is_fraud']]

In [7]:
new_test_data.head()

,gender,category,amt,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,M,personal_care,2.86,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0
1,F,personal_care,29.84,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,0
2,F,health_fitness,41.28,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,0
3,M,misc_pos,60.05,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,0
4,M,travel,3.19,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,0

### Categorical

In [8]:
# One Hot Encoding

categ_cols = ['gender','category']

ohe = OneHotEncoder()

test_data_encoded = ohe.fit_transform(test_data[categ_cols]).toarray()

In [9]:
feature_labels = ohe.categories_
feature_labels = np.concatenate(feature_labels)

### Feature Scaling

In [10]:
numerical_cols = ['amt', 'lat', 'long','city_pop', 'unix_time', 'merch_lat', 'merch_long']

scaler = StandardScaler()

test_scaled = scaler.fit_transform(new_test_data[numerical_cols])

In [11]:
test_data_final = pd.concat([pd.DataFrame(test_data_encoded, columns=feature_labels),pd.DataFrame(test_scaled, columns=numerical_cols)],axis=1).drop(['F','travel'],axis=1)
test_data_final.head()

,M,entertainment,food_dining,gas_transport,grocery_net,grocery_pos,health_fitness,home,kids_pets,misc_net,misc_pos,personal_care,shopping_net,shopping_pos,amt,lat,long,city_pop,unix_time,merch_lat,merch_long
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.424463,-0.904377,0.677451,0.816521,-1.703871,-0.894145,0.657586
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.252337,0.351182,-1.472454,-0.292685,-1.703869,0.178126,-1.436610
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.179353,0.420768,1.216667,-0.178853,-1.703865,0.383257,1.167640
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.059605,-1.970539,0.685934,-0.111371,-1.703861,-1.909485,0.680717
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.422358,1.128092,0.380004,-0.289942,-1.703861,1.259139,0.316510

In [12]:
new_test_data.head()

,gender,category,amt,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,M,personal_care,2.86,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0
1,F,personal_care,29.84,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,0
2,F,health_fitness,41.28,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,0
3,M,misc_pos,60.05,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,0
4,M,travel,3.19,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,0

In [13]:
new_test_data['Predicted'] = rf.predict(test_data_final)
new_test_data.head()

C:\Users\win10\AppData\Local\Temp\ipykernel_16016\3637078517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_test_data['Predicted'] = rf.predict(test_data_final)

,gender,category,amt,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,Predicted
0,M,personal_care,2.86,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0,0
1,F,personal_care,29.84,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,0,0
2,F,health_fitness,41.28,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,0,0
3,M,misc_pos,60.05,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,0,0
4,M,travel,3.19,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,0,0

In [14]:
print('Classification Report: \n', classification_report(new_test_data['is_fraud'], new_test_data['Predicted']))
print('Accuracy Score: ', accuracy_score(new_test_data['is_fraud'], new_test_data['Predicted']))

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00    553574
           1       0.44      0.76      0.56      2145

    accuracy                           1.00    555719
   macro avg       0.72      0.88      0.78    555719
weighted avg       1.00      1.00      1.00    555719

Accuracy Score:  0.9953339727452184

In [15]:
new_test_data.to_csv('Predicted.csv',index=False)